body {
  background: #fffcfc;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

.header {
  background-color: #ffe3e3;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px 1px gray;
          box-shadow: 1px 1px 10px 1px gray;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.projects,
.todolists {
  text-align: center;
}

.button {
  color: #4b4bf0;
  font-size: 18px;
  background-color: #fffcfc;
  border: 1px solid #ffb0b0;
  border-radius: 4px;
  padding: 5px 12px;
  cursor: pointer;
}

.button:hover {
  color: #fffcfc;
  background-color: #4b4bf0;
}

.none {
  display: none;
}

.project_form,
.todo_form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(160, 160, 160, 0.5);
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project_form form,
.todo_form form {
  width: 90%;
  text-align: center;
  background-color: #fffcfc;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.project_form form input,
.todo_form form input {
  width: 90%;
  margin: 15px auto;
  display: block;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.close {
  position: absolute;
  right: 20px;
  top: 5px;
  padding: 5px 10px;
  background-color: #b13232;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.description textarea {
  display: block;
  width: 90%;
  height: 70px;
  margin: 5px auto;
  resize: none;
  padding: 4px 4px;
}

.priority_select {
  margin: 10px;
}

.display_projects {
  border: 1px solid #4b4bf0;
  border-radius: 4px;
  margin-bottom: 4px;
}

.display_projects h2 {
  font-size: 18px;
  color: #4b4bf0;
  cursor: pointer;
  text-transform: capitalize;
}

.display_projects h2:hover {
  color: #1212dc;
}

.todolist_container {
  border: 1px solid #4b4bf0;
  border-radius: 5px;
  margin: 1px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  vertical-align: middle;
}

.low {
  background-color: #f5f579;
}

.medium {
  background-color: #f5b579;
}

.High {
  background-color: #ec5c5c;
}

.Urgent {
  background-color: red;
}

.todolist_title {
  cursor: pointer;
  text-transform: capitalize;
  text-align: left;
  margin-top: 12px;
  margin-left: 5px;
  display: inline-block;
}

.todolist_todoconf {
  margin-top: 14px;
}

.todolist_todoconf button {
  cursor: pointer;
  margin-right: 4px;
  border: 1px solid #fffcfc;
  padding: 4px;
  border-radius: 4px;
  color: #fffcfc;
}

.todolist_todoconf button:hover {
  background-color: #fffcfc;
}

.todolist_todoconf .todolist_edittodo {
  background-color: #8f8f42;
}

.todolist_todoconf .todolist_deletetodo {
  background-color: #ff4800;
}

.todolist_todoconf .todolist_edittodo:hover {
  color: #8f8f42;
}

.todolist_todoconf .todolist_deletetodo:hover {
  color: #ff4800;
}

.todo_details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(160, 160, 160, 0.5);
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo_details .details {
  width: 60%;
  min-height: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo_details .details p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}