
h1,
h2,
h3,
h4 {
  font-family: 'Space Mono', monospace !important;
  font-weight: 700 !important;
}

h1 {
  padding: 0.3em;
}

header,
.btn-info {
  background-color: #bfc9ca !important;
}

body {
  font-family: 'Work Sans', sans-serif !important;
}

.list-header {
  background-color: #d1c4e9;
}

a > i {
  color: #c0392b;
  font-size: 25px;
  padding-right: 15px;
}

.logo {
  color: red !important;
}

a:hover {
  text-decoration: none !important;
}

.delete-btn:hover {
  color: red;
}

.plus-btn {
  line-height: 40px;
  font-size: 25px;
}

.item-title {
  border: none;
  margin-right: 10px;
}

textarea {
  background-color: rgba(206, 206, 198, 0.3);
  border-radius: 10px;
  padding: 10px;
}

.item-title:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder,
input[type='date'],
select,
option,
label {
  color: lightslategray !important;
  font-size: smaller !important;
}

.project-name {
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
}

form:hover,
input:hover {
  cursor: pointer;
}
